<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".KaliApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round"
        android:theme="@style/Theme.Kali">

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.sos.SosActivity" android:exported="false"/>

        <activity android:name=".ui.sos.TrackingActivity" android:exported="false" android:hardwareAccelerated="true"/>

        <activity android:name=".ui.auth.RegisterActivity" android:exported="false"/>

        <activity android:name=".ui.auth.ProfileActivity" android:exported="false"/>

        <activity android:name=".ui.auth.DecoyActivity" android:exported="false"/>

        <service
            android:name=".service.LocationService"
            android:foregroundServiceType="location"
            android:exported="false"/>

        <service
            android:name=".service.RecordingService"
            android:foregroundServiceType="microphone"
            android:exported="false"/>

        <!-- Disable default WorkManager initializer for custom Configuration.Provider -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>
</manifest>

